.calendar .calendar-color-g0 { color:#488813; }
.calendar .calendar-color-c { color:#eeeeee; }
.calendar .calendar-color-u { color:#5eabb4; }
.calendar .calendar-color-s { color:#d0b376; }
.calendar .calendar-color-g4 { color:#01461f; }
.calendar .calendar-color-g1 { color:#4d8b03; }
.calendar .calendar-color-g2 { color:#7fbd39; }
