.calendar .calendar-color-g3 { color:#427322; }
.calendar .calendar-color-g2 { color:#7fbd39; }
.calendar .calendar-color-l { color:#e6410b; }
.calendar .calendar-color-g0 { color:#488813; }
.calendar .calendar-color-s { color:#d0b376; }
.calendar .calendar-color-g1 { color:#4d8b03; }
.calendar .calendar-color-a { color:#aaaaaa; }
.calendar .calendar-color-w { color:#ffffff; }
.calendar .calendar-color-c { color:#eeeeee; }
.calendar .calendar-color-g4 { color:#01461f; }
.calendar .calendar-color-u { color:#5eabb4; }
